.dashboardMamagementWrap {
  background: white;
  .headerContent{
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .wrapContent{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 102px;
      .title {
        font-size: 22px;
        color: #40a9ff;
        font-weight: 500;
        border-bottom: 1px solid rgb(223, 222, 222);
      }
    }
  }
  .containerItem {
    cursor: move;
    border: 1px solid #d5d7e0;
    box-shadow: 2px 2px 5px #ddd;
    border-radius: 8px;
    .containerHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 10%;
      padding: 0 24px;
      border-bottom: 1px solid #d5d7e0;
      // color: #5c6280;
      .containerTitle {
        flex: 1;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        width: 400px;
      }
    }
  }
}
.noData{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  background-color: white;
}
.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

