.title{
  height:23px;
  font-family:'Arial';
  font-size:16px;
  font-weight: bold;
  margin: 30px 0 15px  0;
}
.bar{
  border-radius: 5px 5px 0 0 ;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  // box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  // margin-bottom: 30px;
  height: 80px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content:flex-end;
}

.selectItem{
  display: block;
  font-size: 20px;
  margin:0 auto;
  text-align: center;
}