
.logo {
  float: left;
  min-width: 200px;
  height: 66px;
  line-height: 66px;
  text-decoration: none;
  font-size: 32px;
  text-align: center;
  margin-right:15px;
  img{
    display: block;
    float: left;
    max-width: 100%;
    border: 0;
    box-sizing: border-box;
    padding: 3px 3px 3px 10px;
  }
  .title{
    float: left;
    color:rgb(0, 0, 0);
  }
}

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  .menuLeft{
    flex-grow: 1;
  }
  .menuRight{
    width: 400px;
  }
}


